# OS files
.DS_Store
Thumbs.db
Desktop.ini

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Node / package manager
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build / dist output
dist/
build/
.cache/

# Local env files
.env
.env.local
